# --- Ignore large data/artifacts ---
*.zip

# --- Python / Streamlit junk ---
__pycache__/
*.pyc

# --- Environment ---
.env
.env.*

# --- Virtual env ---
venv/
.venv/

# Analytics data
analytics.json

# IDE
.vscode/
.idea/
